/* police du site */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* police de titre */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

/* header */
header {
  justify-content: space-between;
  border-bottom: solid 1px black;

}


/* header */

/* main */

.image--couv__main {
align-items: center;  
}

div.qui--main, .resaux--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2--main__qui, .h2--main__resaux, .h2--main__trouver {
margin: 30px;
padding: 10px;
font-size: 50px;
font-family: 'Roboto Condensed', sans-serif;
border-bottom: solid 2px red;
}

.p--main__qui, .p--main__resaux, .p--main__trouver {
  padding: 10px;
  line-height: 1.5em;
  font-size: 20px;
}

.link--main__resaux {
  display: flex;
  flex-direction: column ;
  margin: 30px;
  padding: 10px;
  align-items: baseline;
}

.link--twitter, .link--instagram, .link--facebook {
  align-items: baseline;
  flex-direction: row;
}

.aside--main {
  border: 5px solid rgb(0, 0, 0);
  padding: 15px;
}
.div--aside__main {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: baseline;
}

.don--aside__main, .gqs--aside__main, .benevol--aside__main {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.p--aside__main {
  padding: 10px;
  font-size: 20px;
  border-left: 1px solid red;
  align-items: baseline;
}

.logo--main {
  margin: 10px;
  width: 50%;
}

/* main secondPage */

main.main--second {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.card {
text-align: center;
margin: 30px;
box-shadow: 6px 5px 5px gray;
}
/* main secondPage */

/* main */


/* footer */
footer {
  background-color: rgb(35, 37, 57);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

/* footer */



/* Media queries */

@media screen and (max-width: 500px) {
  .div--aside__main {
    display: flex;
    flex-direction: column;
  }
  .logo--main {
    margin: 10px;
    width: 30%;
  }
   footer {
     flex-wrap: wrap;
   }

   div.footer {
     margin: 10px;
   }
}

